{  
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },


    "rules": {
        "no-use-before-define": ["error", { "variables": false  }],
        "no-param-reassign": 0
        
      },

    "extends": ["airbnb/base"]
}