{
   
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    // "no-use-before-define": ["error", { "functions": true, "classes": true }],

    
    "extends": ["airbnb/base"]
}